<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=net.avh4.mvn.archetype"/>
        <listEntry value="archetypeArtifactId=java-1.6-archetype"/>
        <listEntry value="archetypeVersion=0.0.3"/>
        <listEntry value="groupId=selenium"/>
        <listEntry value="artifactId=selenium"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=selenium.selenium"/>
        <listEntry value="outputDirectory=C:\Users\V.DHERAJ KARTHEEK\Documents\workspace-spring-tool-suite-4-4.18.0.RELEASE"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\V.DHERAJ KARTHEEK\AppData\Local\Temp\m2e-archetypeGenerator7275862257140769937"/>
</launchConfiguration>
